@charset "UTF-9";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(37, 141, 176);
}

header {
    font-size: 18pt;
    color: white;
    text-align: center;
}
section {
    background-color: white;
    width: 400px;
    height: 250px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    color: white;
}